{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "env": {
    "node": true,
    "es6": true
  },
  "rules": {
    "no-unused-vars": 0,
    "no-undef": 0,
    "react/jsx-filename-extension": 0
  }
}